# COMP40610 - Graded Assignment, Autumn 24/25

## Data Analysis of the Scooby Doo Dataset

### Matas Martinaitis - 23212775

In [1]:
# Import pandas for dataframe creation, analysis, and manipulation.
import pandas as pd
pd.options.display.max_rows = 100

# Import numpy to simplify working with arrays.
import numpy as np

# Import the scoobydoo.csv file.
df = pd.read_csv("scoobydoo.csv", keep_default_na = True, delimiter = ",", skipinitialspace = True, encoding = "Windows-1252")

In [2]:
# Investigate the total number of rows and columns in the dataset.
df.shape

(603, 75)

In [3]:
# Sanity check the first five rows of the dataset.
df.head(5)

,index,series_name,network,season,title,imdb,engagement,date_aired,run_time,format,...,batman,scooby_dum,scrappy_doo,hex_girls,blue_falcon,fred_va,daphnie_va,velma_va,shaggy_va,scooby_va
0,1,"Scooby Doo, Where Are You!",CBS,1,What a Night for a Knight,8.1,556.0,13/09/1969,21,TV Series,...,False,False,False,False,False,Frank Welker,Stefanianna Christopherson,Nicole Jaffe,Casey Kasem,Don Messick
1,2,"Scooby Doo, Where Are You!",CBS,1,A Clue for Scooby Doo,8.1,479.0,20/09/1969,22,TV Series,...,False,False,False,False,False,Frank Welker,Stefanianna Christopherson,Nicole Jaffe,Casey Kasem,Don Messick
2,3,"Scooby Doo, Where Are You!",CBS,1,Hassle in the Castle,8.0,455.0,27/09/1969,21,TV Series,...,False,False,False,False,False,Frank Welker,Stefanianna Christopherson,Nicole Jaffe,Casey Kasem,Don Messick
3,4,"Scooby Doo, Where Are You!",CBS,1,Mine Your Own Business,7.8,426.0,04/10/1969,21,TV Series,...,False,False,False,False,False,Frank Welker,Stefanianna Christopherson,Nicole Jaffe,Casey Kasem,Don Messick
4,5,"Scooby Doo, Where Are You!",CBS,1,Decoy for a Dognapper,7.5,391.0,11/10/1969,21,TV Series,...,False,False,False,False,False,Frank Welker,Stefanianna Christopherson,Nicole Jaffe,Casey Kasem,Don Messick

In [4]:
# Sanity check the final five rows of the dataset.
df.tail(5)

,index,series_name,network,season,title,imdb,engagement,date_aired,run_time,format,...,batman,scooby_dum,scrappy_doo,hex_girls,blue_falcon,fred_va,daphnie_va,velma_va,shaggy_va,scooby_va
598,599,Scooby-Doo and Guess Who?,Boomerang,2,The Dreaded Remake of Jekyll & Hyde!,NaN,NaN,01/10/2020,22,TV Series,...,False,False,False,False,False,Frank Welker,Grey DeLisle,Kate Micucci,Matthew Lillard,Frank Welker
599,600,Warner Home Video,Warner Home Video,Movie,"Happy Halloween, Scooby-Doo!",6.3,978.0,06/10/2020,76,Movie,...,False,False,False,False,False,Frank Welker,Grey DeLisle,Kate Micucci,Matthew Lillard,Frank Welker
600,601,Warner Home Video,Warner Home Video,Movie,Scooby-Doo! The Sword and the Scoob,6.2,422.0,23/02/2020,77,Movie,...,False,False,False,False,False,Frank Welker,Grey DeLisle,Kate Micucci,Matthew Lillard,Frank Welker
601,602,Scooby-Doo and Guess Who?,Boomerang,2,Dark Diner of Route 66!,NaN,NaN,25/02/2021,22,TV Series,...,False,False,False,False,False,Frank Welker,Grey DeLisle,Kate Micucci,Matthew Lillard,Frank Welker
602,603,Scooby-Doo and Guess Who?,Boomerang,2,Total Jeopardy!,NaN,NaN,13/11/2020,23,TV Series,...,False,False,False,False,False,Frank Welker,Grey DeLisle,Kate Micucci,Matthew Lillard,Frank Welker

In [5]:
# Check the data types of all columns.
df.dtypes

index                         int64
series_name                  object
network                      object
season                       object
title                        object
imdb                        float64
engagement                  float64
date_aired                   object
run_time                      int64
format                       object
monster_name                 object
monster_gender               object
monster_type                 object
monster_subtype              object
monster_species              object
monster_real                 object
monster_amount                int64
caught_fred                  object
caught_daphnie               object
caught_velma                 object
caught_shaggy                object
caught_scooby                object
captured_fred                object
captured_daphnie             object
captured_velma               object
captured_shaggy              object
captured_scooby              object
unmask_fred                  object
unmask_daphnie               object
unmask_velma                 object
unmask_shaggy                object
unmask_scooby                object
snack_fred                   object
snack_daphnie                object
snack_velma                  object
snack_shaggy                 object
snack_scooby                 object
unmask_other                   bool
caught_other                   bool
caught_not                     bool
trap_work_first              object
setting_terrain              object
setting_country_state        object
suspects_amount               int64
non_suspect                  object
arrested                     object
culprit_name                 object
culprit_gender               object
culprit_amount                int64
motive                       object
if_it_wasnt_for              object
and_that                     object
door_gag                       bool
number_of_snacks             object
split_up                    float64
another_mystery             float64
set_a_trap                  float64
jeepers                     float64
jinkies                     float64
my_glasses                  float64
just_about_wrapped_up       float64
zoinks                      float64
groovy                      float64
scooby_doo_where_are_you    float64
rooby_rooby_roo             float64
batman                         bool
scooby_dum                     bool
scrappy_doo                    bool
hex_girls                      bool
blue_falcon                    bool
fred_va                      object
daphnie_va                   object
velma_va                     object
shaggy_va                    object
scooby_va                    object
dtype: object

In [6]:
# Check for duplicate columns.
df[df.duplicated()]
print(df.T.duplicated())

index                       False
series_name                 False
network                     False
season                      False
title                       False
imdb                        False
engagement                  False
date_aired                  False
run_time                    False
format                      False
monster_name                False
monster_gender              False
monster_type                False
monster_subtype             False
monster_species             False
monster_real                False
monster_amount              False
caught_fred                 False
caught_daphnie              False
caught_velma                False
caught_shaggy               False
caught_scooby               False
captured_fred               False
captured_daphnie            False
captured_velma              False
captured_shaggy             False
captured_scooby             False
unmask_fred                 False
unmask_daphnie              False
unmask_velma                False
unmask_shaggy               False
unmask_scooby               False
snack_fred                  False
snack_daphnie               False
snack_velma                 False
snack_shaggy                False
snack_scooby                False
unmask_other                False
caught_other                False
caught_not                  False
trap_work_first             False
setting_terrain             False
setting_country_state       False
suspects_amount             False
non_suspect                 False
arrested                    False
culprit_name                False
culprit_gender              False
culprit_amount              False
motive                      False
if_it_wasnt_for             False
and_that                    False
door_gag                    False
number_of_snacks            False
split_up                    False
another_mystery             False
set_a_trap                  False
jeepers                     False
jinkies                     False
my_glasses                  False
just_about_wrapped_up       False
zoinks                      False
groovy                      False
scooby_doo_where_are_you    False
rooby_rooby_roo             False
batman                      False
scooby_dum                  False
scrappy_doo                 False
hex_girls                   False
blue_falcon                 False
fred_va                     False
daphnie_va                  False
velma_va                    False
shaggy_va                   False
scooby_va                   False
dtype: bool

In [7]:
# Search for constant columns.
df.nunique()

index                       603
series_name                  29
network                      11
season                        7
title                       602
imdb                         49
engagement                  233
date_aired                  448
run_time                     34
format                        5
monster_name                481
monster_gender               43
monster_type                132
monster_subtype             269
monster_species             194
monster_real                  2
monster_amount               16
caught_fred                   2
caught_daphnie                2
caught_velma                  2
caught_shaggy                 2
caught_scooby                 2
captured_fred                 2
captured_daphnie              2
captured_velma                2
captured_shaggy               2
captured_scooby               2
unmask_fred                   2
unmask_daphnie                2
unmask_velma                  2
unmask_shaggy                 2
unmask_scooby                 2
snack_fred                    2
snack_daphnie                 2
snack_velma                   2
snack_shaggy                  2
snack_scooby                  2
unmask_other                  2
caught_other                  2
caught_not                    2
trap_work_first               2
setting_terrain              15
setting_country_state        79
suspects_amount              17
non_suspect                   2
arrested                      2
culprit_name                433
culprit_gender               23
culprit_amount                9
motive                       27
if_it_wasnt_for             107
and_that                     64
door_gag                      2
number_of_snacks             18
split_up                      3
another_mystery               4
set_a_trap                    3
jeepers                      10
jinkies                      13
my_glasses                    3
just_about_wrapped_up         2
zoinks                       17
groovy                        4
scooby_doo_where_are_you      5
rooby_rooby_roo               8
batman                        2
scooby_dum                    2
scrappy_doo                   2
hex_girls                     2
blue_falcon                   2
fred_va                       5
daphnie_va                    9
velma_va                     12
shaggy_va                     7
scooby_va                     5
dtype: int64

Categorical data screening is necessary in order to determine if the attributes that are going to be investigated are plausibly correct.

In [8]:
# Snapshot of categorical data features pre-cleaning.
df_table_categorical = df.describe(include = ["object", "bool"]).T

# Print data quality report table for categorical features to a file.
df_table_categorical.to_csv("scoobydoo-DataQualityReport-CategoricalFeatures-Table.csv", index_label = "Feature")

# Plot the categorical table.
df_table_categorical

,count,unique,top,freq
series_name,603,29,Scooby-Doo and Scrappy-Doo (second series),86
network,603,11,ABC,281
season,603,7,1,311
title,603,602,Wrestle Maniacs,2
date_aired,603,448,01/10/2020,13
format,603,5,TV Series,374
monster_name,516,481,Alien,6
monster_gender,516,43,Male,319
monster_type,516,132,Ghost,86
monster_subtype,515,269,Humanoid,53
monster_species,516,194,Human,175
monster_real,516,2,False,404
caught_fred,384,2,False,252
caught_daphnie,438,2,False,409
caught_velma,385,2,False,344
caught_shaggy,571,2,False,494
caught_scooby,575,2,False,415
captured_fred,384,2,False,313
captured_daphnie,438,2,False,347
captured_velma,385,2,False,311
captured_shaggy,571,2,False,486
captured_scooby,575,2,False,492
unmask_fred,384,2,False,282
unmask_daphnie,438,2,False,401
unmask_velma,385,2,False,291
unmask_shaggy,571,2,False,558
unmask_scooby,575,2,False,552
snack_fred,384,2,False,366
snack_daphnie,438,2,False,389
snack_velma,385,2,False,356
snack_shaggy,572,2,False,529
snack_scooby,576,2,False,564
unmask_other,603,2,False,568
caught_other,603,2,False,519
caught_not,603,2,False,572
trap_work_first,249,2,True,125
setting_terrain,603,15,Urban,267
setting_country_state,603,79,United States,309
non_suspect,443,2,False,397
arrested,448,2,True,381
culprit_name,440,433,Professor Pericles,4
culprit_gender,440,23,Male,263
motive,536,27,Competition,168
if_it_wasnt_for,189,107,you meddling kids,65
and_that,75,64,puppy,9
door_gag,603,2,False,544
number_of_snacks,602,18,0,463
batman,603,2,False,599
scooby_dum,603,2,False,586
scrappy_doo,603,2,False,438
hex_girls,603,2,False,597
blue_falcon,603,2,False,570
fred_va,384,5,Frank Welker,351
daphnie_va,438,9,Grey DeLisle,230
velma_va,385,12,Mindy Cohn,119
shaggy_va,571,7,Casey Kasem,356
scooby_va,575,5,Don Messick,308

The dataset reveals that there are 43 unique monster genders, which is very unlikely to be possible. Further investigation is needed.

In [9]:
print("List of unique values in column: \n", df["monster_gender"].unique())

List of unique values in column:
 ['Male' 'Female' 'Male,Male,Male' 'Male,Female' 'Male,Male' 'Female,Male'
 'Male,Male,Male,Male,None' 'Male,Male,Male,Male,Male,Male,Male,Male,Male'
 'Male,Female,Male,Male,Male,Male,Male' 'Male,Male,Male,Male'
 'Male,Male,Male,Male,Male,Male,Male,Male' 'Male,Female,Male' nan
 'Female,Male,' 'Male,Male,Male,Female' 'Male,Female,Male,Male,Male'
 'Male,Male,Male,Female,Male,Male' 'Female,Male,Male,Female'
 'Male,Male,Female,Male' 'Male,Male,Male,Male,Female'
 'Male,Male,Male,Male,Male,Male' 'Male,Male,Female'
 'Male,Male,Male,Male,Male' 'Female,Female,Female,Female'
 'Male,Male,Male,Male,Male,Male,Male' 'Female,Male,Male,Male'
 'Male,Male,Male,Female,Female,Female,Male,Male,Male,Female,Male,Male,Male,Male,Male,Male,Male,Male,Male'
 'Male,Male,Male,Male,Female,Female,Male'
 'Male,Male,Male,Male,Male,Male,Female,Female,Female,Male'
 'Male,Male,Male,Female,Male,Male,Female,Female'
 'Male,Male,Male,Male,Male,Male,Male,Male,Male,Male,Male' 'Female,Female'
 'Male,Female,Female,Male,Male' 'Female,Male,Male'
 'Male,Male,Male,Male,Male,Male,Male,Male,Male,Male,Male,Male,Male,Male,Male'
 'Male,Male,Male,Male,Male,Male,Male,Male,Male,Male,Male,Male,Male,Male,Male,Female'
 'Male,Male,Male,Female,Male'
 'Male,Male,Male,Male,Male,Male,Male,Male,Male,Male'
 'Male,Male,Male,Male,Male,Male,Male,Male,Male,Male,Male,Male,Male'
 'Male,Male,Male,Male,Male,Male,Male,Male,Male,Male,Male,Male'
 'Female,Male,Female,Male' 'Male,Male,Male,Male,Female,Male,Male,Male'
 'Male,Female,Male,Male'
 'Male,Male,Male,Male,Male,Male,Male,Female,Male,Male,Male,Male']

As can be seen by the output above, the programme perceives episodes with multiple monsters, whereby the value defines a binary gender for each monster, as a unique gender. This is incorrect and will not accurately map to each individual monster. To fix this, data manipulation is necessary. Specifically, by splitting inputs on the comma in each field, separate columns may be created to represent the multiple monsters. Similarly, the same splitting may be done for the monster types and then matched together in the visualisation step.

In [10]:
# Split the "monster_gender" column into multiple columns.
split_genders = df["monster_gender"].str.split(",", expand = True)

# Rename the columns so that the first entry remains as "monster_gender", and the others are "monster_gender2", "monster_gender3", etc.
split_genders.columns = ["monster_gender"] + [f"monster_gender{i+1}" for i in range(1, split_genders.shape[1])]

# Concatenate these new columns with the original DataFrame (excluding the original "monster_gender" column).
df = pd.concat([df.drop(columns = ["monster_gender"]), split_genders], axis = 1)

# Set a file path in which the .csv file may be stored.
file_path = "scoobydoo-monster_gender-corrected.csv"

# Save the DataFrame as a .csv file.
df.to_csv(file_path, index = False)

# Display the results.
print(df)

     index                 series_name            network season  \
0        1  Scooby Doo, Where Are You!                CBS      1
1        2  Scooby Doo, Where Are You!                CBS      1
2        3  Scooby Doo, Where Are You!                CBS      1
3        4  Scooby Doo, Where Are You!                CBS      1
4        5  Scooby Doo, Where Are You!                CBS      1
..     ...                         ...                ...    ...
598    599   Scooby-Doo and Guess Who?          Boomerang      2
599    600           Warner Home Video  Warner Home Video  Movie
600    601           Warner Home Video  Warner Home Video  Movie
601    602   Scooby-Doo and Guess Who?          Boomerang      2
602    603   Scooby-Doo and Guess Who?          Boomerang      2

                                    title  imdb  engagement  date_aired  \
0               What a Night for a Knight   8.1       556.0  13/09/1969
1                   A Clue for Scooby Doo   8.1       479.0  20/09/1969
2                    Hassle in the Castle   8.0       455.0  27/09/1969
3                  Mine Your Own Business   7.8       426.0  04/10/1969
4                   Decoy for a Dognapper   7.5       391.0  11/10/1969
..                                    ...   ...         ...         ...
598  The Dreaded Remake of Jekyll & Hyde!   NaN         NaN  01/10/2020
599          Happy Halloween, Scooby-Doo!   6.3       978.0  06/10/2020
600   Scooby-Doo! The Sword and the Scoob   6.2       422.0  23/02/2020
601               Dark Diner of Route 66!   NaN         NaN  25/02/2021
602                       Total Jeopardy!   NaN         NaN  13/11/2020

     run_time     format  ... monster_gender10 monster_gender11  \
0          21  TV Series  ...             None             None
1          22  TV Series  ...             None             None
2          21  TV Series  ...             None             None
3          21  TV Series  ...             None             None
4          21  TV Series  ...             None             None
..        ...        ...  ...              ...              ...
598        22  TV Series  ...             None             None
599        76      Movie  ...             None             None
600        77      Movie  ...             None             None
601        22  TV Series  ...             None             None
602        23  TV Series  ...             None             None

    monster_gender12 monster_gender13 monster_gender14  monster_gender15  \
0               None             None             None              None
1               None             None             None              None
2               None             None             None              None
3               None             None             None              None
4               None             None             None              None
..               ...              ...              ...               ...
598             None             None             None              None
599             None             None             None              None
600             None             None             None              None
601             None             None             None              None
602             None             None             None              None

    monster_gender16 monster_gender17 monster_gender18 monster_gender19
0               None             None             None             None
1               None             None             None             None
2               None             None             None             None
3               None             None             None             None
4               None             None             None             None
..               ...              ...              ...              ...
598             None             None             None             None
599             None             None             None             None
600             None             None             None             None
601             None             None             None             None
602             None             None             None             None

[603 rows x 93 columns]

In [11]:
# Split the "monster_type" column into multiple columns.
split_monster_types = df["monster_type"].str.split(",", expand = True)

# Rename the columns so that the first entry remains as "monster_type", and others are "monster_type2", "monster_type3", etc.
# This should match directly with "monster_gender" above.
split_monster_types.columns = ["monster_type"] + [f"monster_type{i+1}" for i in range(1, split_monster_types.shape[1])]

# Concatenate these new columns with the original DataFrame (excluding the original "monster_type" column).
df = pd.concat([df.drop(columns = ["monster_type"]), split_monster_types], axis = 1)

# Set a file path in which the .csv file may be stored.
file_path = "scoobydoo-monster_type-corrected.csv"

# Save the DataFrame as a .csv file.
df.to_csv(file_path, index = False)

# Display the results.
print(df)

     index                 series_name            network season  \
0        1  Scooby Doo, Where Are You!                CBS      1
1        2  Scooby Doo, Where Are You!                CBS      1
2        3  Scooby Doo, Where Are You!                CBS      1
3        4  Scooby Doo, Where Are You!                CBS      1
4        5  Scooby Doo, Where Are You!                CBS      1
..     ...                         ...                ...    ...
598    599   Scooby-Doo and Guess Who?          Boomerang      2
599    600           Warner Home Video  Warner Home Video  Movie
600    601           Warner Home Video  Warner Home Video  Movie
601    602   Scooby-Doo and Guess Who?          Boomerang      2
602    603   Scooby-Doo and Guess Who?          Boomerang      2

                                    title  imdb  engagement  date_aired  \
0               What a Night for a Knight   8.1       556.0  13/09/1969
1                   A Clue for Scooby Doo   8.1       479.0  20/09/1969
2                    Hassle in the Castle   8.0       455.0  27/09/1969
3                  Mine Your Own Business   7.8       426.0  04/10/1969
4                   Decoy for a Dognapper   7.5       391.0  11/10/1969
..                                    ...   ...         ...         ...
598  The Dreaded Remake of Jekyll & Hyde!   NaN         NaN  01/10/2020
599          Happy Halloween, Scooby-Doo!   6.3       978.0  06/10/2020
600   Scooby-Doo! The Sword and the Scoob   6.2       422.0  23/02/2020
601               Dark Diner of Route 66!   NaN         NaN  25/02/2021
602                       Total Jeopardy!   NaN         NaN  13/11/2020

     run_time     format  ... monster_type10 monster_type11 monster_type12  \
0          21  TV Series  ...           None           None           None
1          22  TV Series  ...           None           None           None
2          21  TV Series  ...           None           None           None
3          21  TV Series  ...           None           None           None
4          21  TV Series  ...           None           None           None
..        ...        ...  ...            ...            ...            ...
598        22  TV Series  ...           None           None           None
599        76      Movie  ...           None           None           None
600        77      Movie  ...           None           None           None
601        22  TV Series  ...           None           None           None
602        23  TV Series  ...           None           None           None

    monster_type13  monster_type14 monster_type15 monster_type16  \
0             None            None           None           None
1             None            None           None           None
2             None            None           None           None
3             None            None           None           None
4             None            None           None           None
..             ...             ...            ...            ...
598           None            None           None           None
599           None            None           None           None
600           None            None           None           None
601           None            None           None           None
602           None            None           None           None

    monster_type17 monster_type18 monster_type19
0             None           None           None
1             None           None           None
2             None           None           None
3             None           None           None
4             None           None           None
..             ...            ...            ...
598           None           None           None
599           None           None           None
600           None           None           None
601           None           None           None
602           None           None           None

[603 rows x 111 columns]

Having made the edits, it's time to check if these changes are reflected in the data quality report.

In [12]:
# Import the scoobydoo.csv file.
df1 = pd.read_csv("scoobydoo-monster_type-corrected.csv", keep_default_na = True, delimiter = ",", skipinitialspace = True, encoding = "Windows-1252")

# Snapshot of categorical data features pre-cleaning.
df1_table_categorical = df1.describe(include = ["object", "bool"]).T

# Print data quality report table for categorical features to a file.
df1_table_categorical.to_csv("scoobydoo-monster_type-corrected-DataQualityReport-CategoricalFeatures-Table.csv", index_label = "Feature")

# Plot the categorical table.
df1_table_categorical

,count,unique,top,freq
series_name,603,29,Scooby-Doo and Scrappy-Doo (second series),86
network,603,11,ABC,281
season,603,7,1,311
title,603,602,Wrestle Maniacs,2
date_aired,603,448,01/10/2020,13
format,603,5,TV Series,374
monster_name,516,481,Alien,6
monster_subtype,515,269,Humanoid,53
monster_species,516,194,Human,175
monster_real,516,2,False,404
caught_fred,384,2,False,252
caught_daphnie,438,2,False,409
caught_velma,385,2,False,344
caught_shaggy,571,2,False,494
caught_scooby,575,2,False,415
captured_fred,384,2,False,313
captured_daphnie,438,2,False,347
captured_velma,385,2,False,311
captured_shaggy,571,2,False,486
captured_scooby,575,2,False,492
unmask_fred,384,2,False,282
unmask_daphnie,438,2,False,401
unmask_velma,385,2,False,291
unmask_shaggy,571,2,False,558
unmask_scooby,575,2,False,552
snack_fred,384,2,False,366
snack_daphnie,438,2,False,389
snack_velma,385,2,False,356
snack_shaggy,572,2,False,529
snack_scooby,576,2,False,564
unmask_other,603,2,False,568
caught_other,603,2,False,519
caught_not,603,2,False,572
trap_work_first,249,2,True,125
setting_terrain,603,15,Urban,267
setting_country_state,603,79,United States,309
non_suspect,443,2,False,397
arrested,448,2,True,381
culprit_name,440,433,Professor Pericles,4
culprit_gender,440,23,Male,263
motive,536,27,Competition,168
if_it_wasnt_for,189,107,you meddling kids,65
and_that,75,64,puppy,9
door_gag,603,2,False,544
number_of_snacks,602,18,0,463
batman,603,2,False,599
scooby_dum,603,2,False,586
scrappy_doo,603,2,False,438
hex_girls,603,2,False,597
blue_falcon,603,2,False,570
fred_va,384,5,Frank Welker,351
daphnie_va,438,9,Grey DeLisle,230
velma_va,385,12,Mindy Cohn,119
shaggy_va,571,7,Casey Kasem,356
scooby_va,575,5,Don Messick,308
monster_gender,516,2,Male,474
monster_gender2,167,2,Male,144
monster_gender3,102,2,Male,91
monster_gender4,70,2,Male,63
monster_gender5,45,2,Male,41
monster_gender6,37,2,Male,35
monster_gender7,32,2,Male,30
monster_gender8,25,2,Male,22
monster_gender9,19,2,Male,18
monster_gender10,15,2,Male,14
monster_gender11,12,1,Male,12
monster_gender12,8,1,Male,8
monster_gender13,5,1,Male,5
monster_gender14,3,1,Male,3
monster_gender15,3,1,Male,3
monster_gender16,2,2,Male,1
monster_gender17,1,1,Male,1
monster_gender18,1,1,Male,1
monster_gender19,1,1,Male,1
monster_type,516,12,Ghost,119
monster_type2,167,14,Ghost,34
monster_type3,102,13,Disguised,21
monster_type4,70,11,Disguised,21
monster_type5,46,11,Disguised,15
monster_type6,37,9,Disguised,14
monster_type7,32,7,Disguised,13
monster_type8,25,9,Disguised,11
monster_type9,20,7,Disguised,10
monster_type10,15,5,Disguised,6
monster_type11,12,4,Disguised,4
monster_type12,8,6,Disguised,2
monster_type13,5,3,Super-Villain,3
monster_type14,2,1,Disguised,2
monster_type15,2,2,Insect,1
monster_type16,1,1,Insect,1
monster_type17,1,1,Possessed Object,1
monster_type18,1,1,Animal,1
monster_type19,1,1,Plant,1

The maximum number of unique genders in any given entry is now two, which is correct for the binary identification of genders. The number of monster types is also roughly equivalent to the number of entries of monster genders reported in each column. It is now important to check what unique values are present in both.

In [13]:
# Define the columns to search for unique entries, starting from "monster_gender", moving to "monster_gender2", and continuing up to "monster_gender19".
gender_columns = ["monster_gender"] + [f"monster_gender{i}" for i in range(2, 20)]

# Stack all specified columns into a single column.
melted_genders = pd.melt(df1[gender_columns], value_name = "gender").dropna()

# Get the unique entries and their counts.
unique_genders = melted_genders["gender"].unique()
gender_counts = melted_genders["gender"].value_counts()

# Display the number of unique monster genders.
print("Number of unique monster genders:", len(unique_genders))

# Display the results.
print("Number of unique entries across all monster_gender columns: \n", gender_counts)

Number of unique monster genders: 2
Number of unique entries across all monster_gender columns:
 gender
Male      967
Female     97
Name: count, dtype: int64

The monster gender columns have no been fully cleaned, only showing the binary gender identifiers. There is a significantly larger proportion of male monsters than female monsters.

This should now be repeated for the monster types to assess what types of monsters exist.

In [14]:
# Define the columns to search for unique entries, starting from "monster_type", moving to "monster_type2", and continuing up to "monster_type19".
monster_type_columns = ["monster_type"] + [f"monster_type{i}" for i in range(2, 20)]

# Stack all specified columns into a single column.
melted_monster_types = pd.melt(df1[monster_type_columns], value_name = "type").dropna()

# Get the unique entries and their counts.
unique_monster_types = melted_monster_types["type"].unique()
monster_types_counts = melted_monster_types["type"].value_counts()

# Display the number of unique monster types.
print("Number of unique monster types:", len(unique_monster_types))

# Display the results.
print("Unique entries across all monster_type columns: \n", monster_types_counts)

Number of unique monster types: 20
Unique entries across all monster_type columns:
 type
Ghost               188
Animal              167
Disguised           166
Undead              139
Super-Villain        97
Possessed Object     74
Mythical             70
Magician             37
Mechanical           36
Ancient              33
Extraterrestrial     23
Plant                22
Disfigured            2
Dr. Trebal            2
Insect                2
Skeleton              1
Possessed             1
Disugised             1
Demon                 1
Disguise              1
Name: count, dtype: int64

Twenty unique monster types are reported on in the dataset. Almost half of these occur in very small quantities (two or less), and as such, are unlikely to have sufficient numbers to allow for accurate reporting. It is recommended that these are dropped.

In [15]:
# Identify monster types with fewer than 3 occurrences.
types_to_replace = monster_types_counts[monster_types_counts < 3].index

# Replace these monster types with "Other" in the original DataFrame.
for col in monster_type_columns:
    df1[col] = df1[col].replace(types_to_replace, "Other")

# Save the updated DataFrame back to the .csv.
df1.to_csv("scoobydoo-monster_types_updated.csv", index = False)

print("Monster types with fewer than 3 entries have been replaced with 'Other' and saved to 'scoobydoo-monster_types_updated.csv'.")

Monster types with fewer than 3 entries have been replaced with 'Other' and saved to 'scoobydoo-monster_types_updated.csv'.

Vega-lite doesn't like dd/mm/yyyy format, so it's necessary to change this to mm/dd/yyyy.

In [ ]:
# Convert "date_aired" from dd/mm/yyyy to mm/dd/yyyy format.
df1["date_aired"] = pd.to_datetime(df1["date_aired"], format = "%d/%m/%Y").dt.strftime("%m/%d/%Y")

# Display the updated DataFrame.
print(df1)

# Save the updated DataFrame back to the .csv.
df1.to_csv("scoobydoo-final.csv", index = False)

print("Dates have been adjusted to the American system and saved in 'scoobydoo-final.csv'.")

     index                 series_name            network season  \
0        1  Scooby Doo, Where Are You!                CBS      1
1        2  Scooby Doo, Where Are You!                CBS      1
2        3  Scooby Doo, Where Are You!                CBS      1
3        4  Scooby Doo, Where Are You!                CBS      1
4        5  Scooby Doo, Where Are You!                CBS      1
..     ...                         ...                ...    ...
598    599   Scooby-Doo and Guess Who?          Boomerang      2
599    600           Warner Home Video  Warner Home Video  Movie
600    601           Warner Home Video  Warner Home Video  Movie
601    602   Scooby-Doo and Guess Who?          Boomerang      2
602    603   Scooby-Doo and Guess Who?          Boomerang      2

                                    title  imdb  engagement  date_aired  \
0               What a Night for a Knight   8.1       556.0  09/13/1969
1                   A Clue for Scooby Doo   8.1       479.0  09/20/1969
2                    Hassle in the Castle   8.0       455.0  09/27/1969
3                  Mine Your Own Business   7.8       426.0  10/04/1969
4                   Decoy for a Dognapper   7.5       391.0  10/11/1969
..                                    ...   ...         ...         ...
598  The Dreaded Remake of Jekyll & Hyde!   NaN         NaN  10/01/2020
599          Happy Halloween, Scooby-Doo!   6.3       978.0  10/06/2020
600   Scooby-Doo! The Sword and the Scoob   6.2       422.0  02/23/2020
601               Dark Diner of Route 66!   NaN         NaN  02/25/2021
602                       Total Jeopardy!   NaN         NaN  11/13/2020

     run_time     format  ... monster_type10 monster_type11 monster_type12  \
0          21  TV Series  ...            NaN            NaN            NaN
1          22  TV Series  ...            NaN            NaN            NaN
2          21  TV Series  ...            NaN            NaN            NaN
3          21  TV Series  ...            NaN            NaN            NaN
4          21  TV Series  ...            NaN            NaN            NaN
..        ...        ...  ...            ...            ...            ...
598        22  TV Series  ...            NaN            NaN            NaN
599        76      Movie  ...            NaN            NaN            NaN
600        77      Movie  ...            NaN            NaN            NaN
601        22  TV Series  ...            NaN            NaN            NaN
602        23  TV Series  ...            NaN            NaN            NaN

    monster_type13  monster_type14 monster_type15 monster_type16  \
0              NaN             NaN            NaN            NaN
1              NaN             NaN            NaN            NaN
2              NaN             NaN            NaN            NaN
3              NaN             NaN            NaN            NaN
4              NaN             NaN            NaN            NaN
..             ...             ...            ...            ...
598            NaN             NaN            NaN            NaN
599            NaN             NaN            NaN            NaN
600            NaN             NaN            NaN            NaN
601            NaN             NaN            NaN            NaN
602            NaN             NaN            NaN            NaN

    monster_type17 monster_type18 monster_type19
0              NaN            NaN            NaN
1              NaN            NaN            NaN
2              NaN            NaN            NaN
3              NaN            NaN            NaN
4              NaN            NaN            NaN
..             ...            ...            ...
598            NaN            NaN            NaN
599            NaN            NaN            NaN
600            NaN            NaN            NaN
601            NaN            NaN            NaN
602            NaN            NaN            NaN

[603 rows x 111 columns]
Dates have been adjusted to the American system and saved in 'scoobydoo-date_corrected.csv'.